#judul-utama {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #1F4E79;
}


.kartu-produk {
    box-sizing: border-box;  
    width: 250px;
    padding: 16px;
    border: 2px solid #1F4E79;
    margin: 20px auto;      
    background-color: #EAF1F8;
    font-family: Arial, sans-serif;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.kartu-produk h2 {
    margin: 0;
    font-size: 18px;
    color: #1F4E79;
}

.kartu-produk .harga {
    margin: 8px 0 0 0;
    font-weight: bold;
    color: #C00000;
}

